.button {
  background-color: #0077ff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: medium;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #014a9c;
}
